
 html, body {
  /* height: 100vh; */
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  background-image: linear-gradient(to top,rgba(197, 213, 255, 0.5), rgba(241, 241, 241, 0.966)), url(/static/images/shuksan.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.rounded-input {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 30px;
  width: 50%;
}
.container {
  margin-top: 8px;
  color: rgb(46, 46, 51);
  
}
li {
  list-style-type: none;
}

/* MAP */
#map {
  height: 100%;
  width: 100%;
  border-radius: 25px;
}

/* FLASH MESSAGES */
.flash-msg{
  background-color: red;
}

#search-box {
  border: 1px solid rgb(46, 46, 51);
  border-radius: 4px;
  position: absolute;
  width: 80%;
  /* height: 30px; */
  background-color: rgba(250,250,250);
  padding:
}

#depth-key {
  width:100%;
  height: 55px;
}

#map-row {
  height: 100vh;
}

#magnifying-glass {
  height: 29px;
  margin-right: 9px;
}