
 html, body {
  /* height: 100vh; */
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  background-image: linear-gradient(to top,rgba(197, 213, 255, 0.5), rgba(241, 241, 241, 0.966)), url(/static/images/shuksan.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.rounded-input {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 30px;
  width: 50%;
}
.container {
  margin-top: 8px;
  color: rgb(50, 51, 46);
  
}
li {
  list-style-type: none;
}

/* MAP */
#map {
  height: 100%;
  width: 100%;
  border-radius: 25px;
}

/* FLASH MESSAGES */
.flash-msg{
  background-color: red;
}

#search-box {
  border: 1px solid rgb(46, 46, 51);
  border-radius: 4px;
  position: absolute;
  width: 80%;
  background-color: rgba(250,250,250);
  margin-left: 15px;
}

#depth-key {
  width:100%;
  height: 55px;
}

#map-row {
  height: 100vh;
}

#magnifying-glass {
  height: 29px;
}

.search-row {
  padding: 20px;
}

th,
td {
	/* padding: 15px; */
	background-color: rgba(204, 204, 204, 0.2);
  color: rgb(50, 51, 46);
  /* text-decoration: none; */
}

/* th {
	text-align: left;
} */

th {
  background-color: rgba(87, 83, 102, 0.2);
  font-weight: 700;
}

tr:hover {
  background-color: rgba(209, 227, 221, 0.5);
}

.favorite-trail-name {
  text-decoration: underline;
  color: rgb(50, 51, 46); 
}

.favorite-trail-name:hover {
  color:#6e7dab; 
  font-weight: 600;
}

.input-with-unit {
  padding-left: 0px;
}