<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    
    <link rel="icon" type="image/png" href="/static/favicon.png"/>
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous">
    </script>
    <script src="/static/js/navigation.js"></script>
    <script src="/static/js/trailpage.js"></script>

    
    
    <script src="/static/js/homepage.js"></script>
    

    <link rel="stylesheet" href="/static/style.css"/>
      
    <title>
      {% block title %}{% endblock %}
    </title>
    {% block head %}{% endblock %}
  </head>
  <body>
    
    {% for msg in get_flashed_messages() %}
    <p class="flash-msg">
      {{ msg }}
    </p>
    {% endfor %}

    <h1>Flake Map</h1>
    <h2>Navigation</h2>
      <ul id="navigation-links">
        <li><a href="/">Home</a></li>
        <li><a href="/trails">Trails</a></li>
        <li><a href="/favorite-trails">Favorite Trails</a></li>
        <li><a href="/add-a-trail">Add a Trail!</a></li>
        {% if session.get('user_id') %}
          {% if session.get('moderator') == True %}
            <li><a href="/moderator" id="moderator-link">Moderators Only!</a></li>
          {% endif %}
        {% endif %}
      </ul>
    {% if session.get('_id') %}
      <a href="/logout"><button>Log Out</button></a>
    {% else %}
      <a href="/login"><button>Log In</button></a>
    {% endif %}
    
    {% block body %}{% endblock %}
    {% block after_body %}{% endblock %}
  </body>
</html>
