{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block title %}SNOW PACK - Favorite Trails{% endblock %}

{% block body %}
<div class="container favorite-trails">
    <h3>Favorites:</h3>

    {% if session.get('user_id') %}
        <div>
            <table class="table" id="favorite-trails">
                <tr>
                    <th>Trail Name</th>
                    <th>Length</th>
                    <th>Location</th>
                </tr>

                {% for favorite in favorite_trails %}
                <tr>
                    <td>
                        <a class="favorite-trail-name" href="{{ favorite.trail.url }}">{{ favorite.trail.name }}</a>
                    </td>
                    <td>{{ favorite.trail.length }}</td>
                    <td>{{ favorite.trail.location }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <p>Log-in to view favorite trails!</p>
    {% endif %}

</div>
{% endblock %}
