{% extends 'base.html' %}

{% block head %}
    <script src="/static/js/img_coord.js"></script>
    <script src="/static/js/map.js"></script>
    <!-- API KEY IS RESTRICED -->
    <script 
        async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3so1-1VBMOPQRvXX6joKPeYN-3FmoedQ&libraries=places&callback=initMap">
    </script>
{% endblock %}

{% block title %}FlakeMap{% endblock %}

{% block body %}

<form id="date-form">
  <label for="date">Select a date to view historical snow information:</label>
  <input type="date" id="calendar" min="2012-03-01" max={{today}} required pattern="\d{4}-\d{2}-\d{2}">
  <input type="submit">
</form>

<div id="date-notice-box"></div>
<img src="/static/images/depth_key.png">
<input id="search-box" class="search-box" type="text" placeholder="Search Box">
<div id="map"></div>


{% endblock %}
