{% extends 'base.html' %}

{% block head %}

<script src="/static/js/trailpage.js"></script>

{% endblock %}

{% block title %}FlakeMap - Trails{% endblock %}

{% block body %}

<!-- <h1>FLAKE MAP</h1> -->
<h1>Flake Map</h1>

<img src="/static/images/depth_key.png">
<input id="search-box" class="search-box" type="text" placeholder="Search Box">
<div id="map"></div>

<form id="distance-form">
    Name: <input type="text" name="trail-name" id="trail-name" ></input>
    Min length: <input name="min-dist" id="min-dist" type="number" step="any">
    Max length: <input name="max-dist" id="max-dist" type="number" step="any">

    <input type="submit">
    
</form>
<div>
    <ul id="filtered-trails">Use filters (above) to populate trail list.</ul>
    
    <table id="trail-table">

    </table>
</div>

   


{% endblock %}
