{% extends 'base.html' %}

{% block head %}
    <script src="/static/js/img_coord.js"></script>
    <script src="/static/js/map.js"></script>
    <!-- API KEY IS RESTRICED -->
    <script 
        async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3so1-1VBMOPQRvXX6joKPeYN-3FmoedQ&libraries=places&callback=initMap">
    </script>

{% endblock %}

{% block title %}SNOW PACK - Trails{% endblock %}

{% block body %}

<img src="/static/images/depth_key.png" 
     class="img-fluid" 
     alt="Snow depth key responsive image">
<div>
    <input id="search-box" class="search-box" type="text" placeholder="Search Box">
</div>
<div id="map"></div>

<form id="distance-form">
    Name: <input type="text" name="trail-name" id="trail-name" ></input>
    Min length: <input name="min-dist" id="min-dist" type="number" step="any">
    Max length: <input name="max-dist" id="max-dist" type="number" step="any">

    <input type="submit">
    
</form>
<div>
    <ul id="filtered-trails">Use filters (above) to populate trail list.</ul>
    
    <table id="trail-table">

    </table>
</div>
{% endblock %}



