{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block title %}FlakeMap - Trails{% endblock %}

{% block body %}

<!-- <h1>FLAKE MAP</h1> -->
<h1>Flake Map</h1>



<h2>Navigation</h2>
<ul>
  <li><a href="/">Home</a></li>
</ul>

<div id="map"></div>

<form action="/trails">
    Max length: (0-50):<input id="length" type="range" min="0", max="50" value="10">
    Max ascent (0-10000):<input id="ascent" type="range" min="0", max="50" value="10000">
    <button type="submit">Show me trails!</button>
</form>
<div>
    <ul>Trails in map area:</ul>
        {% for trail in trails %}
            <li><a href="{{ trail.url }}">{{ trail.name }}</a></li>    
        {% endfor %}


</div>

   


{% endblock %}
